In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [6]:
ba_weather = pd.read_csv("dataset/BA_weather_dataset_copy.csv")
ba_weather.dtypes

Date     object
T       float64
P0      float64
P       float64
U       float64
Ff      float64
dtype: object

In [7]:
ba_weather.isnull().sum()

Date     0
T       17
P0      18
P        1
U       18
Ff       5
dtype: int64

In [8]:
print(ba_weather.loc[ba_weather.isna().any(axis=1)])

                    Date     T     P0      P     U    Ff
247     31.12.2022 18:30   6.0  756.1  768.1  93.0   NaN
607     24.12.2022 05:30   NaN    NaN  757.7   NaN   3.0
60925   27.07.2019 11:30   NaN    NaN  754.6   NaN   7.0
60926   27.07.2019 11:08   NaN    NaN  755.4   NaN   7.0
60927   27.07.2019 11:00   NaN    NaN  755.4   NaN   5.0
60928   27.07.2019 10:30   NaN    NaN  755.4   NaN   5.0
60929   27.07.2019 10:17   NaN    NaN  755.4   NaN   6.0
60930   27.07.2019 10:08   NaN    NaN  756.2   NaN  14.0
78792   01.08.2018 15:30   NaN    NaN  762.8   NaN   8.0
80118   05.07.2018 18:11   NaN    NaN  758.2   NaN   4.0
80119   05.07.2018 18:00   NaN    NaN  757.7   NaN  12.0
81591   05.06.2018 12:30   NaN    NaN  756.2   NaN   3.0
81593   05.06.2018 12:00   NaN    NaN  756.9   NaN   3.0
81594   05.06.2018 11:45   NaN    NaN  756.9   NaN   3.0
81595   05.06.2018 11:42   NaN    NaN  756.9   NaN   4.0
81596   05.06.2018 11:30   NaN    NaN  756.2   NaN   8.0
82935   08.05.2018 17:02   NaN    NaN  757.7   NaN   4.0
82936   08.05.2018 17:00   NaN    NaN  756.9   NaN   8.0
106428  20.01.2017 15:00  -5.0  740.0  752.3  74.0   NaN
106835  12.01.2017 12:00  -5.0  748.1  760.5   NaN   1.0
131342  23.04.2015 02:30   6.0    NaN    NaN  76.0   NaN
143943  08.07.2014 06:30  21.0  746.4  757.7  88.0   NaN
143944  08.07.2014 06:00  20.0  746.4  757.7  88.0   NaN

In [9]:
ba_weather.dropna(axis=0, inplace=True)